@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Thin.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: 'Galano';
    src: url('/fonts/GalanoGrotesque-Extra-Light.otf') format('opentype');
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
    font-display: optional;
}

* {
    --text: #f5f5f5;
    --background: #1d1d1d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05em;
    font-weight: 100;
}

html {
    background: linear-gradient(288deg, rgba(29,29,31,1) 0%, rgba(57,54,54,1) 50%, rgba(29,29,31,1) 100%);
}



.container {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(288deg, rgba(29,29,31,1) 0%, rgba(57,54,54,1) 50%, rgba(29,29,31,1) 100%);
    width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    color: var(--text);

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.page-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-link {
    margin-left: 2rem;
    font-size: 1.25rem;
    color: var(--text);
}

.page-link:first-child {
    margin-left: 24px;
}

.page-link:last-child{
    margin-right: 24px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 8em;

    @media (max-width: 768px) {
        padding-bottom: 9.5em;
    }
}

h2 {
    color: var(--text);
    font-size: 3em;
    margin-left: 24px;

    @media (max-width: 768px) {
        font-size: 2em;
    }
}

h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--text);
    left: 0;
    margin-top: 1.25em;
}

p {
    font-size: 1.25em;
    color: var(--text);
    margin-top: 1.25em;
    line-height: 1.5em;

    @media (max-width: 768px) {
        font-size: 1em;
    }
}