---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

const title="CONTENT";
const links = ['About', 'Contact'];

---
<Layout title={title}>
    <Navigation title={title} links={links}/>
    <p>This is the content page.</p>
</Layout>