---
import Icon from './Icon.astro';
import A from './A.astro';

const icons = [
    {
        name: 'github',
        link: 'https://github.com/timhilton',
        aria: 'link to github, opens in new tab'
    },
    {
        name: 'codepen',
        link: 'https://codepen.io/timhilton',
        aria: 'link to codepen, opens in new tab'
    },
    {
        name: 'linkedin',
        link: 'https://www.linkedin.com/in/timhiltontech/',
        aria: 'link to linkedin, opens in new tab'
    },
    {
        name: 'resume',
        link: 'https://s3.amazonaws.com/www.timhilton.net/TimHiltonResume2024.pdf',
        aria: 'link to resume, opens in new tab'
    },
    {
        name: 'spotify',
        link: 'https://open.spotify.com/user/timhilton79?si=b43fa44a6b2a4352',
        aria: 'link to spotify, opens in new tab for you to rock out!'
    }
]
---
<style>
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 8rem;
      position: absolute;
      bottom: 0;
      width: calc(100% - 48px);
      color: var(--text);
      margin-inline-start: 24px;

      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        height: 10rem;
      }
    }

    .social {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    a {
        width: 36px;
        height: 36px;
    }

    .built-with {
        flex-basis: 100%;
        width: 100%;
        height: 4em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .astro-built {
        height: 1.5em;
    }   

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    p {
        line-height: 1;
        margin: 0;
        margin-inline-end: 24px;
    }
</style>

<footer>
    <div class="footer-content">
    <div class="built-with">
        <p class="astro-built"><strong>Built using Astro <A/></strong></p>
        <p>Best viewed on Chrome on desktop.</p>
    </div>
    <p>&#169; {new Date().getFullYear()} Tim Hilton</p>
    <div class="social">
    {icons.map((icon) => <a href={icon.link} target="_blank" aria-label={icon.aria}><Icon icon={icon.name}/></a>)}
    </div>
    </div>
</footer>